<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Empleados</h3>
    </div>

    <div class="title_right">
      <div class="pull-right">
        <a href="#/empleado/add" class="btn btn-info">Nuevo Empleado</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listado de empleados</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Empleado</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="empleado in empleados">
            <th scope="row">{{empleado.id}}</th>
            <td>{{empleado.nombre+" "+empleado.apellido}}</td>
            <td>{{empleado.username}}</td>
            <td><input type="checkbox" class="flat to_do"></td>
            <td>
              <div class="btn-group">
                
                <a href="#/empleado/edit/{{empleado.id}}" class="btn btn-info btn-xs" ng-click="edit()"><i class="fa fa-pencil"></i> </a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>