<!-- colorpicker -->
<link href="css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
  
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Configuración de Servicio</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <br>
      <form name="configForm" id="demo-form2" class="form-horizontal form-label-left" novalidate >
 
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Servicio</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input name="nombre" type="text" class="form-control" placeholder="Nombre del Servicio" ng-model="configuracion.nombre" required>
            <span class="messages" ng-show="configForm.nombre.$touched">
              <span ng-show="configForm.nombre.$error.required">el Nombre es obligatorio.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-12 control-label">Habilitado
            <br>
            <small class="text-navy">Habilitar/Deshabilitar Servicio</small>
          </label>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" ng-model="configuracion.habilitado" ng-value="true" ng-checked="configuracion.habilitado">
              </label>
            </div>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Tarifa Base</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" type="number" placeholder="Ingrese una tarifa bas" ng-model="configuracion.tarifaBase" name="tarifaBase" required>
            <span class="messages" ng-show="configForm.tarifaBase.$touched">
              <span ng-show="configForm.tarifaBase.$error.required">La tarifa base es obligatoria.</span>
              <span ng-show="configForm.tarifaBase.$error.number">La tarifa base debe ser numerica.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio por KM</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="number" class="form-control" type="number" placeholder="Ingrese el precio por KM" ng-model="configuracion.precioPorKm" name="precioPorKm" required>
            <span class="messages" ng-show="configForm.precioPorKm.$touched">
              <span ng-show="configForm.precioPorKm.$error.required">el Precio por KM es obligatorio.</span>
              <span ng-show="configForm.precioPorKm.$error.number">el Precio por KM debe ser numerico.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio por Hora</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="number" class="form-control" type="number" placeholder="Ingrese el precio por hora" ng-model="configuracion.precioPorHora" name="precioPorHora" required>
             <span class="messages" ng-show="configForm.precioPorHora.$touched">
              <span ng-show="configForm.precioPorHora.$error.required">el Precio por hora es obligatorio.</span>
              <span ng-show="configForm.precioPorHora.$error.number">el Precio por hora debe ser numerico.</span>
            </span>
          </div>
        </div>
        

        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/" class="btn btn-primary">Cancelar</a>
            <input value="Guardar" type="submit" ng-click="guardarConf()" class="btn btn-success" ng-disabled="configForm.$invalid" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- color picker -->
  <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
  <script src="js/colorpicker/docs.js"></script>