<!-- colorpicker -->
<link href="css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
  
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Configuración de Servicio</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate=""  ng-submit="guardarConf()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">ID</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" disabled="disabled" placeholder="ID" ng-model="configuracion.id">
          </div>
        </div>  
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Servicio</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" placeholder="Nombre del Servicio" ng-model="configuracion.nombre">
          </div>
        </div>
       <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      
     <input type="radio" ng-model="configuracion.transporte" ng-value="true" ng-checked="configuracion.transporte">
     Transporte

 &nbsp;&nbsp;

     <input type="radio" ng-model="configuracion.transporte" ng-value="false" ng-checked="!configuracion.transporte">
     Servicios

                    </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-12 control-label">Habilitado
            <br>
            <small class="text-navy">Habilitar/Deshabilitar Servicio</small>
          </label>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" ng-model="configuracion.habilitado" ng-value="true" ng-checked="configuracion.habilitado">
              </label>
            </div>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Tarifa Base</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" placeholder="Ingrese una tarifa bas" ng-model="configuracion.tarifaBase">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio por KM</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" placeholder="Ingrese el precio por KM" ng-model="configuracion.precioPorKm">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio por Hora</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" placeholder="Ingrese el precio por hora" ng-model="configuracion.precioPorHora">
          </div>
        </div>
        

        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- color picker -->
  <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
  <script src="js/colorpicker/docs.js"></script>