
<!-- Bootstrap core CSS -->

<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">

<!-- Custom styling plus plugins -->
<link href="css/custom.css" rel="stylesheet">
<link href="css/icheck/flat/green.css" rel="stylesheet">
<link href="js/datatables/jquery.dataTables.min.css" rel="stylesheet"
	type="text/css" />
<link href="js/datatables/buttons.bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="js/datatables/fixedHeader.bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link href="js/datatables/responsive.bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="js/datatables/scroller.bootstrap.min.css" rel="stylesheet"
	type="text/css" />

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="page-title">
		<div class="title_left">
			<h3>Reportes</h3>
		</div>
		<div class="col-md-6">
			<div id="dateRange" class="pull-right"
				style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span></span>
				<b class="caret"></b>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Top proveedores <small>vía Reviews</small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Top proveedores por <b>Reviews</b>.
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proveedor in proveedores">
						<td>{{proveedor.usuario.email.email}}</td>
						<td>{{proveedor.usuario.nombre}}</td>
						<td>{{proveedor.usuario.apellido}}</td>
						<td>{{proveedor.rating}}
							<div class="progress progress_sm" style="width: 76%;">
								<div class="progress-bar bg-green" role="progressbar"
									data-transitiongoal="{{proveedor.rating}}"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
 <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Top proveedores <small>Ganancia</small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Top proveedores por <b>Ganancia</b>.
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Ganancia</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proveedor in proveedoresPorGanancia">
						<td>{{proveedor.email}}</td>
						<td>{{proveedor.nombre}}</td>
						<td>{{proveedor.apellido}}</td>
						<td>{{proveedor.ganancia}}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
 <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Top usuarios <small>vía Ganancia</small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Top proveedores por <b>Ganancia</b>.
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Ganancia</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in reporteUsuariosPorUso">
						<td>{{usr.email}}</td>
						<td>{{usr.nombre}}</td>
						<td>{{usr.apellido}}</td>
						<td>{{usr.ganancia}}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
 <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Top usuarios <small>Activos</small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Top proveedores por <b>Activos</b>.
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in reporteUsuariosActivos">
						<td>{{usr.email}}</td>
						<td>{{usr.nombre}}</td>
						<td>{{usr.apellido}}</td>
						<td>{{usr.cantidad}}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
 <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Top usuarios <small>Consumo</small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Top proveedores por <b>Consumo</b>.
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in reporteUsuariosPorUso">
						<td>{{usr.email}}</td>
						<td>{{usr.nombre}}</td>
						<td>{{usr.apellido}}</td>
						<td>{{usr.cantidad}}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel" id="">
		<div class="x_title">
			<h2>
				Ganancias
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p class="text-muted font-13 m-b-30">
				Ganancias
			</p>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Ganancia</th> 
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ganancia in reporteGanancia">
						<td>{{usr.dia}}</td>
						<td>{{usr.saldo}}</td> 
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<h2>
	Ganancias
</h2>

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel" id="ganancias">
		<div class="row x_title">
			<div class="col-md-6">
				<h3>Ganancias</h3>
			</div>
		</div>

		<div class="x_content">
			<div style="width: 100%;">
				<div id="gananciasVertical" class="demo-placeholder"
					style="width: 100%; height: 250px;"></div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<table
						class="table table-striped responsive-utilities jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>Fecha</th>
								<th>Saldo</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="g in reporteGanancia">
								<td>{{g.dia}}</td>
								<td>{{g.saldo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Datatables-->
<script src="js/datatables/jquery.dataTables.min.js"></script>
<script src="js/datatables/dataTables.bootstrap.js"></script>
<script src="js/datatables/dataTables.buttons.min.js"></script>
<script src="js/datatables/buttons.bootstrap.min.js"></script>
<script src="js/datatables/dataTables.fixedHeader.min.js"></script>
<script src="js/datatables/dataTables.keyTable.min.js"></script>
<script src="js/datatables/dataTables.responsive.min.js"></script>
<script src="js/datatables/responsive.bootstrap.min.js"></script>
<script src="js/datatables/dataTables.scroller.min.js"></script>

<script src="js/moris/morris.min.js"></script>
<script src="js/moris/raphael-min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>
<script src="js/moment/moment.min.js"></script>