<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Agregar Administrador</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Nuevo Administrador</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form name="adminForm" class="form-horizontal form-label-left" novalidate >

        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>

          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" ng-model-options="{ updateOn: 'blur' }" name="Nombre" placeholder="Nombre del Administrador" type="text" ng-model="administrador.nombre" required>
            <span class="messages" ng-show="adminForm.Nombre.$touched">
            <span ng-show="adminForm.Nombre.$error.required">El Nombre es obligatorio.</span>
            </span>
            
          </div>
        </div>
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Apellido <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" ng-model-options="{ updateOn: 'blur' }" name="Apellido" placeholder="Apellido del Administrador" type="text" ng-model="administrador.apellido" required>
            <span class="messages" ng-show="adminForm.Apellido.$touched">
              <span ng-show="adminForm.Apellido.$error.required">El Apellido es obligatorio.</span>
            </span>
          </div>
        </div>
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="email" id="email" ng-model-options="{ updateOn: 'blur' }" name="Email" class="form-control col-md-7 col-xs-12" ng-model="administrador.email.email" required>
            <span class="messages" ng-show="adminForm.Email.$touched">
              <span ng-show="adminForm.Email.$error.required">El Email es obligatorio.</span>
              <span ng-show="adminForm.Email.$error.email">El formato del Email no es correcto.
              </span>
            </span>
          </div>
        </div>
        <div class="item form-group">
          <label for="password" class="control-label col-md-3">Password</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="password" type="password" ng-model-options="{ updateOn: 'blur' }" name="password" class="form-control col-md-7 col-xs-12"  ng-model="administrador.clave" required>
            <span class="messages" ng-show="adminForm.password.$touched">
              <span ng-show="adminForm.password.$error.required">La contraseña es obligatoria.</span>
            </span>
          </div>
        </div>
        <div class="item form-group">
          <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repite Password</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="password2" type="password" ng-model="admin.pass2" ng-model-options="{ updateOn: 'blur' }" name="password2" ng-pattern="{{administrador.clave}}" class="form-control col-md-7 col-xs-12" required>
            <span class="messages" ng-show="adminForm.password2.$touched">
              <span ng-show="adminForm.password2.$error.required">La contraseña es obligatoria.</span>
              <span ng-show="adminForm.password2.$error.pattern">La contraseña no coincide.</span>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/administrador" class="btn btn-primary">Cancelar</a>
            <input value="Agregar" type="submit" ng-click="agregar()" class="btn btn-success" ng-disabled="adminForm.$invalid" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>